body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(230, 201, 173);
}

.main {
  height: 100vh;
}

.inner {
  background-color: white;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

.hero h1{
  margin-bottom: 0px;
}

.hero {
  padding: 50px;
}

.search {
  margin: 50px;
}

.search-bar {
  border-radius: 10px !important;
}

.navigation {
  background-color: grey;
}